<div class="container">
  <div class="column">
    <mat-card class="animal-card">
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div class="column">
    <mat-card class="animal-card">
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
</div>
